.moving-img-wrapper-jiznaky {
  width: 100%;
  height: 60vh;
  .moving-obj-jiznaky {
    position: absolute;
    z-index: 2;
  }

  #jiznaky-barak {
    max-width: 150px;
    transform: translate(700px, 150px);
    animation: barak-go-in 3s linear infinite;
  }

  #jiznaky-jiznaky {
    max-width: 900px;
  }

  @keyframes barak-go-in {
    0% {
      transform: translate(700px, 180px) scale(1);
    }
    25% {
      transform: translate(710px, 140px) scale(0.9);
    }
    50% {
      transform: translate(720px, 120px) scale(0.7);
    }
    75% {
      transform: translate(710px, 140px) scale(0.9);
    }
    100% {
      transform: translate(700px, 180px) scale(1);
    }
  }
}